.right-nav {
  width: 300px;
  .right-nav-panel {
    height: 200px;
    margin-bottom: 40px;
    h3 {
      color: #636363;
      font-size: 15px;
    }
    p {
      color: #757575;
      font-size: 13px;
    }
  }
}